.table, th, td {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

.table {
    width: 100%;
}

// .article {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
// }

// .info {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
// }